# This file now works for BOTH local dev and the CI pipeline.
# Note: The 'version' tag has been removed as it's obsolete.
services:
  service-a:
    # build: tells docker compose where to find the Dockerfile
    build: ./service-a
    # image: gives the image a name.
    # ${VAR:-default} means: "Use the value of $VAR if it's set,
    # otherwise, use 'service-a-local' as the default."
    image: ${SERVICE_A_IMAGE:-service-a-local}
    ports:
      - "5001:5001"
    restart: always

  service-b:
    build: ./service-b
    image: ${SERVICE_B_IMAGE:-service-b-local}
    ports:
      - "5002:5002"
    restart: always